*-pkglist*.txt
*-provision-*.sh
*.iso
*.ks
*.qcow2
*.qcow2.tmp
*.spec
*.tar.gz
COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/*
!build-aux/pkg-version
config.log
config.status
configure
install-sh
missing
