name: CI

on:
  workflow_dispatch:

  issue_comment:
    types: [created]

jobs:
  build-el9stream:
    runs-on: [ self-hosted, image-builders ]
    if: |
      github.event_name == 'workflow_dispatch' ||
      ( github.event.issue.pull_request &&
        startsWith(github.event.comment.body, '/build') &&
        (
          github.event.comment.author_association == 'MEMBER' ||
          github.event.comment.author_association == 'COLLABORATOR'
        )
      )
    permissions:
      pull-requests: write
    container:
      image: quay.io/ovirt/buildcontainer:el9stream
      options: --group-add qemu --user build --privileged

    steps:

    - name: Checkout
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cd /home/build
        gh repo clone oVirt/ost-images -- -n --depth 1
        cd ost-images
        git fetch --depth 1 origin $GITHUB_REF
        git checkout FETCH_HEAD

    - name: Build images
      env:
        LIBGUESTFS_BACKEND: direct
        HOME: /home/build
      run: |
        cd /home/build
        curl --fail -O https://resources.ovirt.org/repos/ovirt/github-ci/centos/CentOS-9-Stream.iso
        DISTRO=el9stream ost-images/build.sh

    - name: Upload rpms to resources.ovirt.org
      uses: ovirt/ovirt-resources-upload-action@main
      env:
        HOME: /home/build
      with:
        username: ${{ secrets.SSH_USERNAME_FOR_RESOURCES_OVIRT_ORG }}
        key: ${{ secrets.SSH_KEY_FOR_RESOURCES_OVIRT_ORG }}
        known_hosts: ${{ secrets.KNOWN_HOSTS_FOR_RESOURCES_OVIRT_ORG }}
        source: /home/build/ost-images/rpmbuild/RPMS/x86_64/*.rpm
        target: github-ci/ost-images
        cleanup: yes
        createrepo: yes
        # keep 20 last rpms (not necessarily complete set of images) + repodata
        keep_files_count: 21
        
    - name: Upload console log to artifacts
      uses: actions/upload-artifact@v2
      with:
        name: console
        path: /home/build/ost-images/*.log

    - name: Report back results
      if: github.event.issue.pull_request
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        cd /home/build/ost-images
        MESSAGE="Built images:\\n$(for i in rpmbuild/RPMS/x86_64/*.rpm; do echo -n https://resources.ovirt.org/repos/ovirt/github-ci/ost-images/$(basename $i)\\n; done)"
        curl -H "Authorization: Token ${GITHUB_TOKEN}" -X POST -d "{\"body\": \"${MESSAGE}\"}" ${{github.event.issue.url}}/comments
