name: CI

on:
  workflow_dispatch:
  issue_comment:
    types: [created]
  schedule:
    - cron: '0 6 * * *'  # At 06:00 every day

jobs:

  build:
    runs-on: [ self-hosted, image-builders ]
    if: |
      github.event_name == 'workflow_dispatch' ||
      github.event_name == 'schedule' ||
      ( github.event.issue.pull_request &&
        startsWith(github.event.comment.body, '/build') &&
        (
          github.event.comment.author_association == 'MEMBER' ||
          github.event.comment.author_association == 'COLLABORATOR'
        )
      )
    permissions:
      pull-requests: write
    strategy:
      matrix:
        include:
          - os: storage
            iso: CentOS-Stream-9.iso
            buildcontainer: el9stream
          - os: el9node
            iso: CentOS-Stream-9.iso
            buildcontainer: el9stream
          - os: el9stream
            iso: CentOS-Stream-9.iso
            buildcontainer: el9stream
          - os: almalinux9
            iso: AlmaLinux-9.iso
            buildcontainer: almalinux9
    container:
      image: quay.io/ovirt/buildcontainer:${{ matrix.buildcontainer }}
      options: --privileged --init --cgroupns host

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build images
      run: |
        libvirtd --daemon
        virtlogd --daemon
        cd ..
        curl --fail -O https://resources.ovirt.org/repos/ovirt/github-ci/centos/${{ matrix.iso }}
        DISTRO=${{ matrix.os }} ost-images/build.sh

    - name: Upload rpms to resources.ovirt.org
      uses: ovirt/ovirt-resources-upload-action@main
      with:
        username: ${{ secrets.SSH_USERNAME_FOR_RESOURCES_OVIRT_ORG }}
        key: ${{ secrets.SSH_KEY_FOR_RESOURCES_OVIRT_ORG }}
        known_hosts: ${{ secrets.KNOWN_HOSTS_FOR_RESOURCES_OVIRT_ORG }}
        source: rpmbuild/RPMS/x86_64/*.rpm
        target: github-ci/ost-images
        cleanup: yes
        # keep 20 last rpms (not necessarily complete set of images) + repodata
        keep_files_count: 21
        
    - name: Upload console log to artifacts
      uses: actions/upload-artifact@v4
      with:
        name: console-${{ matrix.os }}
        path: "*.log"

    - name: Report back results
      if: github.event.issue.pull_request
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        MESSAGE="Built images:\\n$(for i in rpmbuild/RPMS/x86_64/*.rpm; do echo -n https://resources.ovirt.org/repos/ovirt/github-ci/ost-images/$(basename $i)\\n; done)"
        curl -H "Authorization: Token ${GITHUB_TOKEN}" -X POST -d "{\"body\": \"${MESSAGE}\"}" ${{github.event.issue.url}}/comments

  createrepo:
    permissions: {}
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Create or update repository metadata
      uses: ovirt/ovirt-resources-upload-action@main
      with:
        username: ${{ secrets.SSH_USERNAME_FOR_RESOURCES_OVIRT_ORG }}
        key: ${{ secrets.SSH_KEY_FOR_RESOURCES_OVIRT_ORG }}
        known_hosts: ${{ secrets.KNOWN_HOSTS_FOR_RESOURCES_OVIRT_ORG }}
        target: github-ci/ost-images
        createrepo: yes